.ant-col.ant-col-12 {
  display: block;
  margin: auto;
  text-align: center;
}
.ant-col.ant-col-12 input {
  text-align: center;
  height: unset !important;
}

.ant-menu-item.ant-menu-item-only-child.ant-menu-submenu-title {
  padding: unset !important;
}

canvas {
  margin: auto;
  height: unset !important;
  max-width: 100%;
  max-height: 100%;
}

.ant-input-number {
  max-width: 100%;
}
@media (max-width: 1140px) {
  .ant-input-number input {
    font-size: 11px;
  }
  .ant-slider {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 100%;
  }
  .ant-col.ant-col-5 label {
    font-size: 11px;
  }
}

.ant-col.ant-col-3 {
  margin: auto;
  text-align: center;
}

.ant-col.ant-col-5 {
  margin: auto;
  text-align: center;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: flex;
  padding-right: 8px;
  cursor: pointer;
  height: 32px;
  align-items: center;
  margin-left: 10px;
  background-color: white;
  color: black;
  font-weight: 500;
}

.custom-file-upload .ant-btn {
  color: black;
  font-weight: 500;
  background-color: transparent;
  border: 0;
  text-shadow: unset;
  box-shadow: unset;
}

.custom-file-upload .ant-btn:active {
  color: black;
  font-weight: 500;
  background-color: transparent;
  border: 0;
  text-shadow: unset;
  box-shadow: unset;
}

.file-preview {
  margin: 0 10px;
}

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
  background-color: white;
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  background-color: white;
}